* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #222;
}
main, header, footer {
  max-width: 1100px;
  margin: auto;
  padding: 16px;
}
header {
  background-color: #0f172a;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
}

header h1 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 8px;
}

nav ul {
  border-radius: 2px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 32px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

section h2 {
  margin-bottom: 16px;
  font-size: 1.4rem;
}
.lista-servicos,
.lista-produtos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

article {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

article img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 8px;
}

article h3 {
  margin-bottom: 8px;
}
.preco {
  text-decoration: line-through;
  color: #FF0000
}
.promocao {
  color: #01631D;
}
button{
  color: #fff;
  cursor: pointer;
}
a {
  display: inline-block;
  margin-top: 8px;
  color: #180DEB;
  text-decoration: none;
}

button {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
footer {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  margin-top: 24px;
}
#feedback {
  font-weight: bold;
  margin-top: 8px;
}

#feedback.error {
  color: #dc2626;
}

#feedback.success {
  color: #16a34a;
}